.firstName{
    width: 500px;
    margin-bottom: 100px;
    margin-top: 50px;
}
.lastName{
    margin: 50px 0 0;
}
.wrapper{
    display: flex;
    justify-content: row;
}
.selectWrapper{
    display: flex;
    justify-content: row;
    justify-items: end;
    margin-left: 160px;
}
.container{
    width: 800px;
    height: 500px;
    margin: 50px 200px;
    text-align: center;
    border: 1px solid black;
}